*{
    margin: 0;
    padding: 0px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
} 
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
header ul a {
  gap: 10px;
  color: white;
}
.sec1 {
  height: 100vh;
  width: 100%;
}
#hero-section {
  background-image: url(./images.pg/section.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.navbar {
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo {
  color: #fff;
  font-weight: 800;
}
.navbar nav ul {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin: 0;
}
.navbar nav ul li a {
  color: #fff;
  transition: 0.1s ease-out;
  font-weight: 600;
}
.navbar nav ul li a:hover {
  border-bottom: 2px solid #fff;
}
.navbar .menu {
  display: none;
}

.hero-text {
  margin-top: 15%;
  padding: 25px 0 25px 25px;
  border: 2px solid #fff;
  max-width: 60%;
}
.hero-text h1 {
  text-transform: uppercase;
  color: #fff;
  font-size: 70px;
  font-weight: 300;
  letter-spacing: 5px;
  line-height: 60px;
}
/* .man {
  width: 700px;
} */
/* .manWord {
  border: solid 1px black;
  position: absolute;
} */
.see {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn1:hover {
    background-color: black;
    color: white;
    padding: 5px 8px;
}
/* footer {
    background-color: black; 
    color: white;
}
footer ul li a{
  color: white;
}
footer a i{
  color: white;
} */
 /* .foot ul a{
     display: flex;
     justify-content: space-around;
   
} */
/* footer ul a{
    color: white;
} */

.interactive {
  padding-top: 100px;
  display: flex;
  position: relative;
  max-width: 100%;
}
.interactive .interactive-img {
  max-width: 75%;
}
.interactive .inteactive-text {
  position: absolute;
  background-color: #fff;
  max-width: 50%;
  right: 0;
  bottom: 0;
  padding: 25px 30px;
  text-align: center;
}
.interactive .inteactive-text h1 {
  font-size: 48px;
  font-weight: 300;
}
.interactive .inteactive-text p {
  color: gray;
  font-weight: 600;
}
footer {
  margin-top: 100px;
  background-color: #000;
}
footer .footer {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer .left-footer .logo {
  color: #fff;
  font-weight: 800;
}
footer .footer .left-footer nav ul {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  padding: 0;
}
footer .footer .left-footer nav ul li a {
  color: #fff;
  transition: 0.1s ease-out;
  font-weight: 600;
}
footer .footer .left-footer nav ul li a:hover {
  border-bottom: 2px solid #fff;
}
footer .footer .right-footer .icon a {
  margin: 10px;
}
footer .footer .right-footer .icon a:hover {
  border-bottom: 2px solid #fff;
}
footer .footer .right-footer .icon a i {
  color: #fff;
  font-size: 24px;
  margin-bottom: 15px;
}
